
li {
    list-style-type: none;
}

.books-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.booklist-container {
    margin-top: 1rem;
    h2 {
        text-align: center;
    }
}